[data-theme="dark"] {
	--bg-color: #4C4C4C;
	--font-color: #F2F2F2;
	--border-color: #191919;
	--outline-color: #191919;
}
[data-theme="dark"] body {
	background-image: url('../media/Images/Misc/FinalDex/Pattern-Inv.png') !important;
}
[data-theme="dark"] #navigation {
	background: #3F3F3F;
}
[data-theme="dark"] .dropdown-toggle:active,
[data-theme="dark"] .dropdown-toggle.active {
	background-color: #595959;
}
[data-theme="dark"] .filterby label {
	background-color: #606060;
}
[data-theme="dark"] .filterby input:checked ~ label {
	background-color: #474747;
}
[data-theme="dark"] .filterby abbr {
	color: #F2F2F2;
	border-color: #E5E5E5;
}
[data-theme="dark"] #showall:active {
	background-color: #595959;
}
[data-theme="dark"] #search {
	background-color: #3F3F3F;
}
[data-theme="dark"] #gametitle:active {
	background-color: #595959;
}
[data-theme="dark"] #settings li {
	background: #3F3F3F;
}
[data-theme="dark"] #settings-img {
	filter: invert(65%) sepia(0%) saturate(26%) hue-rotate(162deg) brightness(86%) contrast(88%);
}
[data-theme="dark"] #resize::-webkit-slider-thumb {
	background: #727272;
}
[data-theme="dark"] #resize::-moz-range-thumb {
	background: #727272;
}
[data-theme="dark"] #contain-inner div {
	background: #595959;
	border-color: #666666;
}
[data-theme="dark"] #contain main:before {
	border-color: #333333;
	color: #F2F2F2;
}
[data-theme="dark"] .gamedata-modal-x {
	color: #E5E5E5;
}
[data-theme="dark"] .gamedata-modal-x:active {
	color: #999999;
}
[data-theme="dark"] .gamedata-modal {
	background: #3F3F3F;
}
[data-theme="dark"] .info-nav {
	background: #595959;
}
[data-theme="dark"] .info-nav input:checked + label,
[data-theme="dark"] .info-nav label:active {
	background: #444444;
}
[data-theme="dark"] .pointsofinterest-left-outer {
	background: #333333;
}
[data-theme="dark"] .pointsofinterest {
	background: #8C8C8C;
}
[data-theme="dark"] .type-100 {
	background: #F2F2F2;
}
[data-theme="dark"] .versionexcl-top {
	background: #8C8C8C;
}
[data-theme="dark"] #versionexcl {
	background: #F2F2F2;
}
[data-theme="dark"] #content {
	background: #F2F2F2;
}
[data-theme="dark"] .reset-modal-x {
	color: #E5E5E5;
}
[data-theme="dark"] .reset-modal-x:active {
	color: #999999;
}
[data-theme="dark"] .reset-modal {
	background: #3F3F3F;
}
[data-theme="dark"] .bug-modal-x {
	color: #E5E5E5;
}
[data-theme="dark"] .bug-modal-x:active {
	color: #999999;
}
[data-theme="dark"] .bug-modal {
	background: #3F3F3F;
}
[data-theme="dark"] .pokdata-modal-x {
	color: #E5E5E5;
}
[data-theme="dark"] .pokdata-modal-x:active {
	color: #999999;
}
[data-theme="dark"] .pokdata-modal {
	background: #3F3F3F;
}
[data-theme="dark"] .egg-group-outer {
	border-bottom-color: #E5E5E5;
}
[data-theme="dark"] .location {
	background: #F2F2F2;
}
[data-theme="dark"] .evolve-from {
	background-color: #595959;
}
[data-theme="dark"] .evolve-from-toggle {
	background-color: #595959;
}
[data-theme="dark"] .evolve-from main button {
	color: #F2F2F2;
}
[data-theme="dark"] .evolve-from main button:hover {
	color: #0C0C0C;
}
[data-theme="dark"] .evolve-to {
	background-color: #595959;
}
[data-theme="dark"] .evolve-to-toggle {
	background-color: #595959;
}
[data-theme="dark"] .evolve-to main button {
	color: #F2F2F2;
}
[data-theme="dark"] .evolve-to main button:hover {
	color: #0C0C0C;
}
[data-theme="dark"] .egg-group {
	background: #F2F2F2;
}