@media screen and (min-width: 2048px) {
	.info-nav label {
		font-size: 16px;
	}
	.pointsofinterest-left {
		font-size: 12px !important;
	}
	.pointsofinterest-right label {
		font-size: 10px !important;
	}
	.typechart td {
		font-size: 10px !important;
	}
	#info-aside2 label {
		font-size: 10px;
	}
	#content {
		font-size: 16px;
	}
	#collapsible1-outer label,
	#collapsible2-outer label {
	font-size: 14px;
	}
	.resetcheck-modal p {
		font-size: 20px;
	}
}
@media screen and (max-width: 1900px) {
	#filterby-outer {
		width: 150px;
	}
	#showall {
		width: 50px;
	}
	#dexswitch label {
		width: 200px;
		font-size: 15px;
	}
	#search {
		width: 450px;
	}
	#exitsearch {
		right: 6%;
	}
	#count {
		width: 150px;
	}
	#gametitle {
		width: 150px;
	}
}
@media screen and (max-width: 1600px) {
	#search {
		width: 300px;
	}
	#exitsearch {
		right: 10%;
	}
	#info-aside2 label {
		font-size: 8px;
	}
	#info-aside1[name="v2"] .typechart td {
		font-size: 8px;
	}
	#information-map[name="Kanto-Sevii"] { /* 3456x864 /8 */
		width: 432px;
		height: 108px;
	}
	#information-map[name="Kanto-Johto-2"] { /* 1800x715 /5 */
		width: 360px;
		height: 143px;
	}
}
@media screen and (max-width: 1440px) {
	#dexswitch label {
		width: 150px;
		font-size: 12px;
	}
	#info-aside1[name="v1"] .typechart td {
		font-size: 8px;
	}
	#info-aside1[name="v2"] .pointsofinterest-right label {
		font-size: 7px;
	}
	#information-map[name="Kanto-Johto-1"] { /* 1728x672 /4 */
		width: 432px;
		height: 168px;
	}
}
@media screen and (max-width: 1360px) {
	#filterby-outer {
		width: 100px;
	}
	#exitsearch {
		right: 10%;
	}
	#exitsearch:after {
		font-size: 20px;
	}
	#count {
		width: 100px;
	}
	#count,
	#count span {
		font-size: 32px;
	}
	#info-aside1[name="v1"] .pointsofinterest-right label {
		font-size: 7px;
	}
	#info-aside1[name="v2"] .pointsofinterest-left {
		font-size: 7px;
	}
	#information-map[name="Galar"] { /* 3460x6992 /18 */
		width: 192.2px;
		height: 388.4px;
	}
}
@media screen and (max-width: 1280px) {
	#filterby-outer {
		width: 150px;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		height: 53px;
		font-size: 14px;
		line-height: 50px;
	}
	#filterby-outer:after {
		font-size: 24px;
	}
	#filterby-outer ~ .dropdown-menu {
		margin-top: 0;
	}
	#showall {
		width: 150px;
		height: 53px;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		font-size: 14px;
	}
	#dexswitch {
		height: 55px;
	}
	#dexswitch label {
		width: 200px;
		font-size: 13px;
		margin: 5px 0;
		height: 40px;
		line-height: 45px;
	}
	#dexswitch label[name="CoastalKalos-Dex"] {
		line-height: 15px;
	}
	#search {
		width: 400px;
		height: 30px;
		font-size: 12px;
	}
	#exitsearch {
		right: 5%;
	}
	#exitsearch:after {
		font-size: 24px;
	}
	#count {
		width: 150px;
	}
	#gametitle {
		width: 150px;
		height: 55px;
		border-left-width: 1px;
		border-left-style: solid;
		border-right-width: 1px;
		border-right-style: solid;
	}
	#gametitle img {
		max-height: 45px;
		padding: 5px 0;
	}
	#navigation {
		height: 110px;
	}
	#navigation ul li a {
		padding: 0 10px;
		line-height: 55px;
	}
	#settings .dropdown-menu {
		margin-top: 55px;
	}
	#contain {
		padding: 140px 5px 10px;
	}
	#info-aside1[name="v1"] .pointsofinterest-left {
		font-size: 7px;
	}
	#collapsible1-outer label,
	#collapsible2-outer label {
	font-size: 10px;
	}
	#content {
		font-size: 10px;
	}
	.index-nav {
		width: 15%;
	}
	.resetcheck-modal p {
		font-size: 12px;
	}
	#info-aside1[name="v2"] .typechart img {
		width: 12px;
		height: 12px;
	}
	#info-aside1[name="v2"] .typechart td,
	#info-aside1[name="v2"] .typechart abbr	{
		font-size: 0px;
	}
	#information-map[name="Hoenn-1"] { /* 1440x864 /5 */
		width: 288px;
		height: 172.8px;
	}
	#information-map[name="Alola-2"] { /* 2880x1728 /8 */
		width: 360px;
		height: 216px;
	}
	#information-map[name="Kanto-2"] { /* 1220x659 /4 */
		width: 305px;
		height: 164.75px;
	}
	#info-aside1[name="v2"] #typechart-outer {
		height: 30%;
	}
}
@media screen and (max-width: 1150px) {
	#dexswitch label {
		width: 150px;
		font-size: 12px;
	}
	#search {
		width: 350px;
	}
	#exitsearch {
		right: 5%;
	}
	#information-map[name="Kanto-Johto-1"] { /* 1728x672 /6 */
		width: 288px;
		height: 112px;
	}
	#information-map[name="Kanto-Sevii"] { /* 3456x864 /12 */
		width: 288px;
		height: 72px;
	}
}
@media screen and (max-width: 1024px) {
	#dexswitch {
		width: 150px;
	}
	#search {
		width: 250px;
	}
	.info-nav label {
		font-size: 8px;
	}
	.loader-title {
		line-height: 250px;
	}
	#info-aside1[name="v1"] .typechart td,
	#info-aside1[name="v1"] .typechart abbr {
		font-size: 0px;
	}
	#information-map[name="Unova-1"],
	#information-map[name="Unova-2"] { /* 1280x840 /5 */
		width: 256px;
		height: 168px;
	}
	#zoom-in,
	#zoom-reset,
	#zoom-out {
		top: 5px;
		width: 24px;
		height: 24px;
	}
}
@media screen and (max-width: 950px) {
	#dexswitch {
		width: 200px;
	}
	#search {
		width: 262px;
	}
	#count {
		width: 170px;
	}
	#gametitle {
		width: 150px;
		border: none;
	}
	#info-aside1[name="v2"] .typechart img {
		display: none;
	}
	#information-map[name="Kanto-1"] { /* 960x816 /4 */
		width: 240px;
		height: 204px;
	}
	#information-map[name="Sinnoh"] { /* 1080x840 /4 */
		width: 270px;
		height: 210px;
	}
	#information-map[name="Kanto-Johto-2"] { /* 1800x715 /8 */
		width: 225px;
		height: 89.3px;
	}
	#information-map[name="Hoenn-2"] { /* 379x270 /1.5 */
		width: 252.6px;
		height: 180px;
	}
	#information-map[name="Alola-2"] { /* 2880x1728 /12 */
		width: 240px;
		height: 144px;
	}
	.pointsofinterest-outer[name="10"] {
		height: 75px;
	}
	.pointsofinterest-outer[name="10"] .pointsofinterest-right label {
		width: 25%;
		height: 33%;
	}
	.pointsofinterest-outer[name="5"] .pointsofinterest-right label {
		width: 33%;
		height: 50%;
	}
	#information-map[name="Orre-1"] { /* 640x480 /3.2 */
		width: 200px;
		height: 150px;
	}
	#index-div h1 {
		font-size: 700%;
	}
}
@media screen and (max-width: 780px) {
	#showall {
		width: 50px;
	}
	#dexswitch {
		width: 150px;
	}
	#dexswitch label {
		width: 130px;
		font-size: 12px;
	}
	#search {
		width: 250px;
	}
	#count {
		width: 80px;
	}
	#count,
	#count span {
		font-size: 26px;
	}
	#gametitle {
		width: 100px;
	}
	.index-nav {
		width: 18%;
	}
	.gform h1 {
		font-size: 150%;
	}
	.loader-title {
		line-height: 200px;
	}
	#info-aside1[name="v1"] .typechart img {
		width: 12px;
		height: 12px;
	}
	#information-map[name="Kanto-Johto-1"] { /* 1728x672 /8 */
		width: 216px;
		height: 84px;
	}
	#information-map[name="Hoenn-1"] { /* 1440x864 /8 */
		width: 180px;
		height: 108px;
	}
	#information-map[name="Kanto-Sevii"] { /* 3456x864 /16 */
		width: 192px;
		height: 48px;
	}
	#information-map[name="Sinnoh"] { /* 1080x840 /6 */
		width: 180px;
		height: 140px;
	}
	#information-map[name="Unova-1"],
	#information-map[name="Unova-2"] { /* 1280x840 /8 */
		width: 160px;
		height: 105px;
	}
	#information-map[name="Kalos"] { /* 320x210 /2 */
		width: 160px;
		height: 105px;
	}
	#information-map[name="Hoenn-2"] { /* 379x270 /2 */
		width: 189.5px;
		height: 135px;
	}
	#information-map[name="Kanto-2"] { /* 1220x659 /8 */
		width: 152.5px;
		height: 82.375px;
	}
	#information-map[name="Galar"] { /* 3460x6992 /25 */
		width: 138.4px;
		height: 279.68px;
	}
}
@media screen and (max-width: 600px) {
	#filterby-outer {
		width: 80px;
	}
	.filterby {
		font-size: 12px;
		line-height: 15px;
	}
	.filterby abbr {
		width: 10px;
		height: 10px;
		line-height: 10px;
		font-size: 8px;
		border-width: 1px;
		top: 4px;
		right: 6px;
	}
	#showall {
		width: 50px;
	}
	#dexswitch {
		width: 120px;
	}
	#dexswitch label {
		width: 120px;
		font-size: 11px;
	}
	#search {
		width: 300px;
	}
	#exitsearch {
		right: 5%;
	}
	#count {
		width: 172px;
	}
	#count,
	#count span {
		font-size: 32px
	}
	#gametitle {
		width: 150px;
	}
	#navigation {
		height: 165px;
	}
	#settings .dropdown-menu {
		margin-top: 110px;
	}
	#contain {
		padding: 200px 5px 10px;
	}
	.index-nav {
		width: 25%;
	}
	#index-div {
		font-size: 80%;
	}
	.index-nav:nth-child(7), .index-nav:nth-child(8), .index-nav:nth-child(9) {
		border-bottom: none;
	}
	#info-aside1[name="v1"] .typechart img {
		display: none;
	}
	#information-map[name="Kanto-1"] { /* 960x816 /6 */
		width: 160px;
		height: 136px;
	}
	#information-map[name="Kanto-Johto-1"] { /* 1728x672 /10 */
		width: 172.8px;
		height: 67.2px;
	}
	#information-map[name="Kanto-Johto-2"] { /* 1800x715 /10 */
		width: 180px;
		height: 71.5px;
	}
	#information-map[name="Alola-2"] { /* 2880x1728 /15 */
		width: 192px;
		height: 115.2px;
	}
	#info-aside1[name="v2"] #typechart-outer {
		height: 20%;
	}
	#info-aside1[name="v2"] .typechart th,
	#info-aside1[name="v2"] .typechart td {
		height: 5px !important;
		width: 20px !important;
	}
	.pointsofinterest-outer[name="10"] {
		height: 100px;
	}
	.pointsofinterest-outer[name="10"] .pointsofinterest-right label {
		width: 33%;
		height: 25%;
	}
}
@media screen and (max-width: 410px) {
	#filterby-outer {
		width: 100px;
	}
	#showall {
		width: 80px;
	}
	#dexswitch {
		width: 204px;
	}
	#dexswitch label {
		width: 150px;
		font-size: 13px;
	}
	#search {
		width: 200px;
	}
	#exitsearch {
		right: 10%;
	}
	#count {
		width: 100px;
	}
	#gametitle {
		width: 100px;
	}
	#navigation {
		height: 220px;
	}
	#settings .dropdown-menu {
		margin-top: 165px;
	}
	#contain {
		padding: 250px 5px 10px;
	}
}
@media screen and (max-width: 320px) {
	#count {
		width: 80px;
	}
	#count,
	#count span {
		font-size: 26px;
	}
	#gametitle {
		width: 80px;
	}
}


@media screen and (max-height: 875px) {
	#information-map[name="Galar"] { /* 3460x6992 /18 */
		width: 192.2px;
		height: 388.4px;
	}
	.filterby,
	.filterby label {
		height: 30px;
	}
	#info-aside3[name="v1"] #collapsible1-outer label,
	#info-aside3[name="v1"] #collapsible2-outer label {
	height: 10%;
	}
}
@media screen and (max-height: 700px) {
	#info-aside3[name="v1"] #collapsible1-outer label,
	#info-aside3[name="v1"] #collapsible2-outer label {
	height: 7%;
	margin: 5px 0;
	}
	#info-aside3[name="v1"] #content-outer {
		height: 75%;
	}
}