
.filterby input:checked ~ label {
	background-color: #999999;
	transition: .5s ease;
	transition-property: background-color;
	color: #F2F2F2;
}
.filterby label:hover {
	filter: brightness(0.9);
}
.filterby input:checked ~ label abbr {
	color: #F2F2F2;
	border-color: #E5E5E5;
}
.filterby label:hover abbr {
	opacity: .7;
	transition: .5s ease opacity;
	transition-delay: .5s;
}
