.resetcheck-modal-outer {
	position: fixed;
	top: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: visibility .5s linear, opacity .5s ease;
}
.resetcheck-modal-outer.open {
	visibility: visible;
	opacity: 1;
}
.resetcheck-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 21;
	background-color: rgba(0, 0, 0, 0.7);
}
.resetcheck-modal-x {
	position: absolute;
	top: 8%;
	right: 4%;
	font-size: 18px;
	color: #4C4C4C;
	cursor: pointer;
	z-index: 10;
}
.resetcheck-modal-x:active {
	color: #999999;
}
.resetcheck-modal {
	position: relative;
	z-index: 22;
	width: 20%;
	height: 13%;
	top: 50%;
	padding: 1% 2%;
	transform: translateY(-50%);
	box-shadow: 0 0 10px #000;
	margin: 0 auto;
	background: #B2B2B2;
	text-align: center;
	font-size: 14px;
}
#reset-aside1 {
	width: 80%;
	height: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
#reset-aside2 {
	width: 100%;
	height: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.resetcheck-modal p {
	padding: 10px 0;
	font-size: 1vw;
}
.resetcheck-modal button {
	margin: 0 5px;
	cursor: pointer;
	background-color: #E52222;
	border-width: 1px;
	border-style: solid;
	color: #F2F2F2;
	font-weight: bold;
	font-size: 12px;
	outline: none;
	height: 30px;
	width: 100px;
	text-align: center;
	text-transform: uppercase;
}
.resetcheck-modal button:hover {
	filter: brightness(90%);
}
.resetcheck-modal button:active {
	transform: scale(0.97);
}