


#dexswitch label[name="National Pokédex"] {
	background-color: Red;
}
#dexswitch label[name="National Pokédex"]:active {
	background-color: #E60000;
}


#dexswitch label[name="Kanto Pokédex"] {
	background-color: Tomato;
}
#dexswitch label[name="Kanto Pokédex"]:active {
	background-color: #ff5233;
}


#dexswitch label[name="New Pokédex"] {
	background-color: SlateGray;
}
#dexswitch label[name="New Pokédex"]:active {
	background-color: #647382;
}


#dexswitch label[name="Hoenn Pokédex"] {
	background-color: RoyalBlue;
}
#dexswitch label[name="Hoenn Pokédex"]:active {
	background-color: #3862e0;
}


#dexswitch label[name="Sinnoh Pokédex"] {
	background-color: MediumPurple;
}
#dexswitch label[name="Sinnoh Pokédex"]:active {
	background-color: #855cd6;
}

#dexswitch label[name="Enhanced Sinnoh Pokédex"] {
	background-color: RebeccaPurple;
	line-height: 20px;
}
#dexswitch label[name="Enhanced Sinnoh Pokédex"]:active {
	background-color: #592d86;
}


#dexswitch label[name="Johto Pokédex"] {
	background-color: LightSlateGray;
}
#dexswitch label[name="Johto Pokédex"]:active {
	background-color: #6e8091;
}


#dexswitch label[name="Unova Pokédex"] {
	background-color: Gray;
}
#dexswitch label[name="Unova Pokédex"]:active {
	background-color: #737373;
}

#dexswitch label[name="New Unova Pokédex"] {
	background-color: DimGray;
}
#dexswitch label[name="New Unova Pokédex"]:active {
	background-color: #595959;
}


#dexswitch label[name="Central Kalos Pokédex"] {
	background-color: BurlyWood;
	line-height: 20px;
}
#dexswitch label[name="Central Kalos Pokédex"]:active {
	background-color: #d9ad73;
}

#dexswitch label[name="Coastal Kalos Pokédex"] {
	background-color: CadetBlue;
	line-height: 20px;
}
#dexswitch label[name="Coastal Kalos Pokédex"]:active {
	background-color: #568e8f;
}

#dexswitch label[name="Mountain Kalos Pokédex"] {
	background-color: Chocolate;
	line-height: 20px;
}
#dexswitch label[name="Mountain Kalos Pokédex"]:active {
	background-color: #c9641d;
}



#dexswitch label[name="Alola Pokédex"] {
	background-color: MediumSeaGreen;
}
#dexswitch label[name="Alola Pokédex"]:active {
	background-color: #39ac6d;
}

#dexswitch label[name="Melemele Pokédex"] {
	background-color: Sandybrown;
}
#dexswitch label[name="Melemele Pokédex"]:active {
	background-color: #f3a158;
}

#dexswitch label[name="Akala Pokédex"] {
	background-color: LimeGreen;
}
#dexswitch label[name="Akala Pokédex"]:active {
	background-color: #2db92d;
}

#dexswitch label[name="Ula'ula Pokédex"] {
	background-color: SkyBlue;
}
#dexswitch label[name="Ula'ula Pokédex"]:active {
	background-color: #7ccae9;
}

#dexswitch label[name="Poni Pokédex"] {
	background-color: LightCoral;
}
#dexswitch label[name="Poni Pokédex"]:active {
	background-color: #ef7676;
}


#dexswitch label[name="Galar Pokédex"] {
	background-color: LightSkyBlue;
}
#dexswitch label[name="Galar Pokédex"]:active {
	background-color: #6cc3f9;
}


#dexswitch label[name="Isle Of Armor Pokédex"] {
	background-color: IndianRed;
}
#dexswitch label[name="Isle Of Armor Pokédex"]:active {
	background-color: #c94f4f;
}

#dexswitch label[name="Crown Tundra Pokédex"] {
	background-color: LightSteelBlue;
}
#dexswitch label[name="Crown Tundra Pokédex"]:active {
	background-color: #a5bcd9;
}

#dexswitch label[name="Strategy Memo Pokédex"] {
	background-color: DarkSeaGreen;
	line-height: 20px;
}
#dexswitch label[name="Strategy-Memo Pokédex"]:active {
	background-color: #80b380;
}