:root {
	--color_97: #F7F7F7;
	--color_95: #F2F2F2;
	--color_90: #E5E5E5;
	--color_85: #D8D8D8;
	--color_80: #CCCCCC;
	--color_75: #C0C0C0;
	--color_70: #B2B2B2;
	--color_65: #A5A5A5;
	--color_60: #999999;
	--color_55: #8C8C8C;
	--color_50: #7F7F7F;
	--color_45: #727272;
	--color_40: #666666;
	--color_35: #595959;
	--color_30: #4C4C4C;
	--color_25: #414141;
	--color_20: #333333;
	--color_15: #262626;
	--color_10: #1A1A1A;
	--color_5: #0C0C0C;

	--fontDark:#0D0D0D;
	--fontLight:#F2F2F2;

	--color20: #F7F7F7;
	--color19: #F2F2F2;
	--color18: #E5E5E5;
	--color17: #D8D8D8;
	--color16: #CCCCCC;
	--color15: #C0C0C0;
	--color14: #B2B2B2;
	--color13: #A5A5A5;
	--color12: #999999;
	--color11: #8C8C8C;
	--color10: #7F7F7F;
	--color9: #727272;
	--color8: #666666;
	--color7: #595959;
	--color6: #4C4C4C;
	--color5: #414141;
	--color4: #333333;
	--color3: #262626;
	--color2: #1A1A1A;
	--color1: #0C0C0C;

	--colorRed:#E60000;
	--colorBlue:#7373E6;
	--colorGreen:#13BF13;

	--border1:#262626;
	--border2:#D8D8D8;

	--descending1: #999999;

	--font1:#1A1A1A;
	--font2:#E5E5E5;

	--background:#C0C0C0;
	--contain: #CCCCCC;

	--typeNormal:#9099A1;
	--typeFighting:#CE4069;
	--typeFlying:#8FA8DD;
	--typePoison:#AB6AC8;
	--typeGround:#D97746;
	--typeRock:#C7B78B;
	--typeBug:#90C12C;
	--typeGhost:#5269AC;
	--typeSteel:#5A8EA1;
	--typeFire:#FF9C54;
	--typeWater:#4D90D5;
	--typeGrass:#63BB5B;
	--typeElectric:#F3D23B;
	--typePsychic:#F97176;
	--typeIce:#74CEC0;
	--typeDragon:#0A6DC4;
	--typeDark:#5A5366;
	--typeFairy:#EC8FE6;

	--statHP:#FF5959;
	--statAtk:#F5AC78;
	--statDef:#FAE078;
	--statSpecial:#974DFF;
	--statSpAtk:#9DB7F5;
	--statSpDef:#A7DB8D;
	--statSpeed:#FA92B2;
}